<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
      <div class="card-block">
        <h4 class="sub-title">Thêm dự án</h4>
        <form [formGroup]="form">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tên dự án:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="tenDuAn" id="tenDuAn" formControlName="tenDuAn" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Ngày bắt đầu:</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="ngayStart" id="ngayStart" formControlName="ngayStart" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Chi phí dự án:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="tien" id="tien" formControlName="tien" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Leader</label>
            <div class="col-sm-10">
              <select name="select" class="form-control" name="leader" id="leader" formControlName="leader" required>
                <option *ngFor="let leader of leaders" [value]="leader.id">{{ leader.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Thành viên dự án</label>
            <div class="col-sm-10">
              <select name="select" class="form-control" name="thanhvien" id="thanhvien" formControlName="thanhvien" required>
                <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.ho }} {{ employee.ten }}
                </option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="themDuAnBtn" (click)="updateProject()">Cập nhật</button>

        </form>
      </div>
    </div>
  </div>
</div>
