<div class="container">
  <h2>Thêm Nhân viên</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="ho">Họ:</label>
      <input type="text" class="form-control" id="ho" name="ho" formControlName="ho" required>
    </div>
    <div class="form-group">
      <label for="ten">Tên:</label>
      <input type="text" class="form-control" id="ten" name="ten" formControlName="ten" required>
    </div>
    <div class="form-group">
      <label for="ngaysinh">Ngày sinh:</label>
      <input type="date" class="form-control" id="ngaysinh" name="ngaysinh" formControlName="ngaysinh" required>
    </div>
    <div class="form-group">
      <label for="phai">Giới tính:</label>
      <select class="form-control" id="phai" name="phai" formControlName="phai" required>
        <option *ngFor="let gender of genders" [value]="gender.id">{{ gender.namegender }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="khuvuc">Khu vực:</label>
      <select class="form-control" id="khuvuc" name="khuvuc" formControlName="khuvuc" required>
        <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.tenKhuVuc }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Thêm Nhân viên</button>
  </form>
</div>
